/* ::::: http://www.gstatic.com/codesite/ph/14658776014687933997/css/ph_core.css ::::: */

a:link { color: rgb(0, 0, 204); }
body { margin: 3px 8px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
body, select, input { font-family: arial,sans-serif; }
body { font-size: 83%; }
td td, th th, th td, td th { font-size: 100%; }
pre { font-size: 110%; }
form { margin: 0pt; padding: 0pt; }
table { border-collapse: separate; }
.tab { margin: 0pt; padding: 0pt; }
.box-inner { margin: 0pt; padding: 0pt 13px; }
.round1 { border-left: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(255, 255, 255); }
.round2 { border-left: 2px solid rgb(255, 255, 255); border-right: 2px solid rgb(255, 255, 255); }
.round4 { border-left: 4px solid rgb(255, 255, 255); border-right: 4px solid rgb(255, 255, 255); }
.round1, .round2, .round4 { margin: 0pt; padding: 0pt; font-size: 0pt; height: 1px; }
.bevel-left, .bevel-right { padding: 0pt; }
.bevel-right .round4, .bevel-right .round2, .bevel-right .round1 { border-left: medium none; }
.active { background: rgb(195, 217, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.active a:link { color: rgb(0, 0, 204); }
.inactive { background: rgb(229, 236, 249) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#mt { margin-top: 0.5ex; }
table#mt th { cursor: pointer; text-align: center; font-weight: bold; }
table#mt th a { text-decoration: none; color: black; }
table.st { background-color: rgb(195, 217, 255); }
table.st span { padding: 0pt 4px; }
#maincol { padding: 3px; margin-top: 3px; }
.isf, .at { padding: 4px 3px 3px 4px; background: rgb(195, 217, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.gbh { border-top: 1px solid rgb(201, 215, 241); font-size: 1px; height: 0pt; position: absolute; top: 24px; width: 100%; }
#pname { font-size: 180%; font-weight: bold; }
#psum { font-style: italic; margin-top: 3px; }
.vt { vertical-align: top; }
.indicator { font-size: x-small; color: rgb(0, 0, 204); }
h1 { font-size: x-large; margin-top: 0px; }
h2 { font-size: large; }
h3 { border-top: 1px solid rgb(51, 102, 204); padding: 0.5ex 0.5em; background: rgb(229, 236, 249) none repeat scroll 0% 0%; font-size: medium; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; margin-right: 2em; }
h4 { font-size: small; }
img { border: 0pt none ; }
#gaia { text-align: right; }
#gaia a { color: rgb(0, 0, 204); text-decoration: none; }
#footer { clear: both; text-align: center; margin-top: 3.5em; margin-bottom: 1em; height: 53px; background-repeat: no-repeat; background-position: left center; }
#footer .text { padding-top: 20px; }
input { padding-left: 1px; padding-right: 1px; }
.author { margin-bottom: 1em; }
.menuDiv { border-style: solid; border-color: rgb(201, 215, 241) rgb(51, 102, 204) rgb(51, 102, 204) rgb(162, 186, 231); border-width: 1px; padding: 0pt; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; margin-top: 5px; z-index: 1001; width: 175px; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.menuDiv .menuItem { padding: 3px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 204); text-decoration: none; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.menuDiv .menuItem:hover { background: rgb(51, 102, 204) none repeat scroll 0% 0%; color: rgb(255, 255, 255); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
.menuDiv .menuCategory, .menuDiv .categoryTitle { margin-top: 4px; }
.menuDiv .menuSeparator { border-style: solid none none; border-color: rgb(201, 215, 241) -moz-use-text-color -moz-use-text-color; border-width: 1px 0pt 0pt; margin: 0pt 0.5em; }
.hostedBy { text-align: center; }
/* ::::: http://www.gstatic.com/codesite/ph/14658776014687933997/css/ph_detail.css ::::: */

.pmeta_bubble_bg { background: rgb(229, 236, 249) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; margin-bottom: 0.6em; }
#wikicontent h3, #wikipreview h3 { border: 0pt none ; margin: 0pt; background: transparent none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; padding-left: 0pt; }
#wikicontent p, #wikicontent ul, #wikicontent ol, #wikicontent blockquote { max-width: 65em; }
#wikicontent ul, #wikicontent ol { padding-left: 40px; }
pre.prettyprint { border-left: 3px solid rgb(204, 204, 204); padding: 0.5em; margin-left: 2em; }
.prettyprint .str { color: rgb(0, 136, 0); }
.prettyprint .kwd { color: rgb(0, 0, 136); }
.prettyprint .com { color: rgb(136, 0, 0); }
.prettyprint .typ { color: rgb(102, 0, 102); }
.prettyprint .lit { color: rgb(0, 102, 102); }
.prettyprint .pun { color: rgb(102, 102, 0); }
.prettyprint .pln { color: rgb(0, 0, 0); }
.prettyprint .tag { color: rgb(0, 0, 136); }
.prettyprint .atn { color: rgb(102, 0, 102); }
.prettyprint .atv { color: rgb(0, 136, 0); }
.expand .ifCollapse { display: none; }
.author { padding-left: 0.7em; }
#wikimaincol { padding-top: 6px; padding-left: 1em; }
#sidebarcontainer { padding: 4px 2px 2px; overflow: hidden; width: 20em; }
.artifactcomment, #commentform { border-top: 3px solid rgb(195, 217, 255); margin: 0.5em 0pt 0pt; padding: 0.3em 0pt 0.3em 0.3em; }
.commentcontent { margin: 1em 0pt; }
